.toolbar {
  display: inline-block;
  font-size: 0.7em;
}

.toolbar a, .toolbar button {
  margin-left: 10px;
}

.data-table {
  border-collapse: collapse;
}

.data-table th {
  background-color:whitesmoke;
  padding: 7px;
  position: relative;
  border: 1px solid #e5e5e5;
  text-align: left;
}

.data-table td {
  border: 1px solid #eee;
  line-height: 24px;
  color: #212121;
  vertical-align: middle;
  padding: 5px;
}

.col-resizer {
  position: absolute;
  width: 20px;
  height:30px;
  cursor: col-resize;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.rating {
  border:none;
  background-color: lightgray;
  font-size: 0.8em;
  line-height: 2em;
}
