
.pagination {
  display: inline-block;
  font-size: 0.7em;
  padding: 10px 0px;
}
.current-page {
  background-color: skyblue;
  color: black;
}
  
.pagination-btn.next, .pagination-btn.prev {
  color: black;
}

.page-selector {
  padding: 5px;
}

.page-selector > input {
  width: 3em;
  text-align: center;
  
}
  
.current-page-input {
  width: 3em;
  text-align: center;
}