
.pagination {

}
.current-page {
  background-color: skyblue;
  color: black;
}
  
.pagination-btn.next, .pagination-btn.prev {
  background-color: lightcoral;
  color: black;
}

.page-selector > input {
  width: 3em;
}
  